.container{
    width:100vh;
    height:98vh;
    background: rgba(0,0,0,.5);
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
    display:flex;
    flex-direction: row;
}

.sideBar {
    flex: 2;
}

.main{
    height:100%;
    display:flex;
    flex-direction: column;
    font-size:15px;
    flex: 5
}

body{
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    overflow: hidden;
}
