.li{
    padding:10px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.msgContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:1
}

.message{
    padding:20px;
    color:#fff;
    line-height:25px;
    max-width:80%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
    background-color:#141e30;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #141e30 transparent;
    margin-left:20px;
}

.h2, .h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
    color: #bbb;
    margin-right: 5px;
    margin-left: 5px;
}

.h3{
    color:#bbb;
}

.entity{
    margin-bottom:5px;
}

.status {
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
}
